# 문제
- mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다
큰 값을 가지는 레코드 수를 구하시오

In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data/mtcars.csv')

In [7]:
print(df.shape)
df.head()

(32, 12)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## 함수생성하여 Min Max Scaling

In [11]:
def min_max_scaler(col_data):
    upper = col_data - col_data.min()
    lower = col_data.max() - col_data.min()
    return upper / lower

In [24]:
df.loc[min_max_scaler(df['qsec']) > 0.5].shape

(9, 12)

In [25]:
df.loc[min_max_scaler(df['qsec']) > 0.5].shape[0]

9

## Sklearn MinMaxScaler

다시 공부

In [26]:
from sklearn.preprocessing import MinMaxScaler

In [27]:
scaler = MinMaxScaler()

In [29]:
input_data = np.array(df['qsec'])

In [36]:
input_data = input_data.reshape(1,-1)

In [37]:
input_data

array([[16.46, 17.02, 18.61, 19.44, 17.02, 20.22, 15.84, 20.  , 22.9 ,
        18.3 , 18.9 , 17.4 , 17.6 , 18.  , 17.98, 17.82, 17.42, 19.47,
        18.52, 19.9 , 20.01, 16.87, 17.3 , 15.41, 17.05, 18.9 , 16.7 ,
        16.9 , 14.5 , 15.5 , 14.6 , 18.6 ]])

In [42]:
data = scaler.fit_transform(input_data)