In [2]:
# !pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 11.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.2 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: setuptools in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: pandas>=0.24.2 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: joblib>=0.13.2 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: scikit-learn>=0.20.3 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (0.24.1)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: scipy>=1.2.1 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: six in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/yoonsung/opt/anaconda3/envs/test/lib/python3.9/site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.19.0

In [3]:
import mlxtend
import numpy as np
import pandas as pd

# Apriori 와 FP-Growth 알고리즘 연습하기

![nn](images/table.png)

## 데이터

In [4]:
# 데이터셋을 생성
# 우유, 기저귀, 쥬스, 맥주, 양상추

data = np.array([
    ['우유', '기저귀', '쥬스'], # 0번의 거래
    ['양상추', '기저귀', '맥주'], # 1번의 거래
    ['우유', '양상추', '기저귀', '맥주'], # 2번의 거래
    ['양상추', '맥주'] # 3번의 거래
])

<ipython-input-4-880971a45da9>:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data = np.array([

In [5]:
data

array([list(['우유', '기저귀', '쥬스']), list(['양상추', '기저귀', '맥주']),
       list(['우유', '양상추', '기저귀', '맥주']), list(['양상추', '맥주'])],
      dtype=object)

## Apriori 알고리즘

In [8]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True   True   True   True  False
3  False   True   True  False  False

In [9]:
te.columns_

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [10]:
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True,  True,  True,  True, False],
       [False,  True,  True, False, False]])

In [11]:
%%time
from mlxtend.frequent_patterns import apriori

apriori(df, min_support=0.5, use_colnames=True)

CPU times: user 10.7 ms, sys: 4.52 ms, total: 15.2 ms
Wall time: 20.9 ms

   support        itemsets
0     0.75           (기저귀)
1     0.75            (맥주)
2     0.75           (양상추)
3     0.50            (우유)
4     0.50       (맥주, 기저귀)
5     0.50      (기저귀, 양상추)
6     0.50       (우유, 기저귀)
7     0.75       (맥주, 양상추)
8     0.50  (맥주, 기저귀, 양상추)

## FP-Growth

In [12]:
%%time
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5, use_colnames=True)

CPU times: user 4.31 ms, sys: 1.92 ms, total: 6.23 ms
Wall time: 6.35 ms

   support        itemsets
0     0.75           (기저귀)
1     0.50            (우유)
2     0.75           (양상추)
3     0.75            (맥주)
4     0.50       (맥주, 기저귀)
5     0.50      (기저귀, 양상추)
6     0.50  (맥주, 기저귀, 양상추)
7     0.50       (우유, 기저귀)
8     0.75       (맥주, 양상추)

apriori보다 fp-growth가 세 배정도 빠른 것을 알 수 있다.

단점이 너무 커서 현업에서는 잘 쓰이지 않음.

In [13]:
# 신뢰도나 향상도를 데이터프레임에서 확인하는 방법

association = fpgrowth(df, min_support=0.5, use_colnames=True)
association_rules(association, metric='confidence', min_threshold=0.5, support_only=False)

NameError: name 'association_rules' is not defined